{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block TITLE %}{{ page.title }}{% endblock %}
{% block CONTENT %}
<main>
    <header class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-7 col-12 divimgmain">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="{%}" class="d-block w-100 imgpainpage" alt="..." />
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-5  divimgmain">
                <img src="{% static 'img/img/slider1-1.jpg' %}" class="imgpainpage img-fluid" alt="..." />
            </div>
        </div>
    </header>
    <section class="container-fluid mt-3">
        <div class="row red-b-color text-center">
            <div class=" col-11">
                <img src="{% static '/img/shegeftititr.png' %}" alt="" width="80%">
                <div class="sliderpro"><!---->

                    <div class="cardpromain m-1">
                        <img src="{% static 'img/img/slider1-1.jpg' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">محصول شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    مشاهده و خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                </div><!---->
            </div>
        </div>
    </section>
    <section class="container-fluid mt-5">
        <div class="text-center img-titr"> <img src="/img/cattititr.png" alt="">
        </div>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 g-lg-3"><!---->
            <div class="col">
                <div class="cat-main">

                    <a href=""><img src="{% static 'img/img/p1.jpg' %}" alt="">
                        <h3 class="h4 bchs">کوله پشتی لپ تاپ</h3>
                    </a>
                </div>
            </div>
        </div><!---->

        </div>

    </section>
    <section class="container-fluid mt-3">
        <div class="row text-center green-b-color">
            <div class=" col-11 mb-3">
                <img src="{% static 'img/img/blogtititr.png' %}" alt="" width="80%">
                <div class="sliderblog"><!---->
                    <div class="card m-1" style="width: 18rem">
                        <img src="{% static 'img/img/shopping-header-e1645291931520.jpg' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h3">مقاله شماره یک</h3>
                            <p class="card-text">
                                توضیحات کوتاه درباره محتوای مقاله برای انتخاب بهتر کاربران و
                                بهبود عملکرد سئو سایت
                            </p>
                            <a href="#">مشاهده بیشتر</a>
                        </div>
                    </div>
                </div><!---->
            </div>
        </div>
    </section>
    <section class="container-fluid mt-3">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-4  p-2">
                <div class="baner-main"> <img src="{% static 'img/img/shopping-header-e1645291931520.jpg' %}" alt="">
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid mt-3">

        <div class="row red-b-color text-center">
            <div class=" col-11">
                <img src="{% static 'img/img/protititr.png' %}" alt="" width="80%">
                <div class="sliderpro2">
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cardpromain m-1">
                        <img src="/img/اسلایدمحصول1.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h3 class="card-title h4">
                                <a href="" class="black-color">مقاله شماره یک</a>
                            </h3>
                            <span class="text-decoration-line-through icon2">300.000</span>
                            <span class="red-color">200.000 <span>تومان</span></span>
                            <hr />
                            <div class="tolspro">
                                <span class="bi bi-heart"></span>
                                <button type="submit" class="btn btn-danger addtocard">
                                    افزودن به سبد خرید
                                </button>
                                <span class="bi bi-arrow-left-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% block JS %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/index/main_page.js' %}"></script>
{% endblock %}
{% endblock %}